[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xattr = "==0.9.7"

[dev-packages]
pytest = "==6.2.4"
pytest-mock = "==3.6.1"
black = "==20.8b1"
compare = {editable = true, path = "."}

[requires]
python_version = "3.8"
