[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xattr = "==0.9.9"

[dev-packages]
pytest = "==7.3.0"
pytest-mock = "==3.7.0"
black = "==22.1.0"
compare = {editable = true, path = "."}

[requires]
python_version = "3.8"
